fastapi==0.115.8
uvicorn==0.34.0
sqlalchemy==2.0.44
pypdf==6.6.2
langchain==0.3.27
langchain-openai==0.3.4
langchain-community==0.3.17
faiss-cpu==1.13.2
python-dotenv==1.0.1
reportlab==4.4.9
python-multipart==0.0.20
